.home{
    background-image: url("../../images/backgrounds/shadow-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    @import "home/sign-in";
    @import "home/events";
    @import "home/twitts";
    @import "home/tour";
}