header {
    max-width: 970px;
    margin: 0 auto;

    .btn-style {
        margin: 0;
        padding: 47px 31px;
        .span-style {
            width: 37px;
            height: 6px;
            background-color: #d2d4d4;
            @include border-radius(2px);
        }

        &:hover, &:focus {
            background-color: #57baff;
            @include border-radius(initial);

            .span-style {
                background-color: #ffffff;
            }
        }
    }

    a {
        display: block;
        line-height: 120px;
        color: #061b2a;

        &.logo {
            background-image: url("../../images/logo/logo.png");
            @include breakpoint(small) {
                margin-left: 39px;
            }
            @include breakpoint(extra-small) {
                width: 47.6%;
                height: 46px;
                margin-left: 39px;
            }

        }

    }

    .nav-style {
        float: right;
        margin: 0;
        border: none;
        font-size: 0;
        @include box-shadow(none);
        @include breakpoint(extra-small) {
            width: 100%;
            padding: 0;
            background-color: #57baff;
        }

        li {
            display: inline-block;
            margin-right: 30px;
            @include breakpoint(extra-small) {
                display: block;
                margin: 0 auto;
                border-bottom: 4px solid #53b1f2;
                text-align: center;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 13px;
                @include breakpoint(extra-small) {
                    font-family: "Helvetica Light";
                    font-weight: 300;
                    font-size: 40px;
                    color: #fcf7f4;
                }
                @include breakpoint(s-extra-small) {
                    font-size: 30px;
                }

            }
        }
    }
}