.clearfix{

    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
h1,h2,h3,h4{
    font-family: "Helvetica Light";
    color: #ffffff;
}
a{
    font-family: "Open sans";
    font-weight: 600;
}
a, a:hover{
    text-decoration: none;
}