.sign-in{

        h2 {
            background-color: #1769a4;
            font-size: 43.2px;
            line-height: 60px;
            @include breakpoint(extra-small) {
                font-size: 38px;
                text-align: center;
            }
            @include breakpoint(s-extra-small) {
                font-size: 28px;
                line-height: 30px;
            }
        }

    ul {
        margin-bottom: 0;

        @include breakpoint(extra-small) {
            margin-top: 37px;
        }
        @include breakpoint(s-extra-small){
            width: 100%;
            margin: 37px 0 0;
        }

        li {
            overflow: hidden;
            margin-top: 9px;
            border: 1px solid rgba(#000000, 0.1);
            text-align: center;
            @include border-radius(4px);
            @include breakpoint(extra-small) {
                margin-top: 19px;
            }

            &:first-child {
                margin-top: 0;
            }


            .button {
                font-size: 13px;
                line-height: 38px;
                color: #494a4a;
                @include breakpoint(extra-small) {
                    font-size: 20px;
                    line-height: 60px;
                }
                @include breakpoint(s-extra-small) {
                    font-size: 14px;
                    line-height: 60px;
                }
                span {
                    float: left;
                    width: 48px;
                    height: 38px;
                    border-top: 1px rgba(#ffffff, 0.5) solid;
                    border-right: 1px rgba(#000000, 0.2) solid;
                    border-bottom: 1px rgba(#000000, 0.2) solid;
                    background-image: url("../../images/sprites/social.png");
                    background-size: cover;
                    @include breakpoint(extra-small) {
                        width: 75px;
                        height: 60px;
                        padding: 10px;
                    }
                }
            }
            &:nth-child(1) {
                a > span {
                    background-color: #0aa2e0;
                    background-position: 0 -76px;
                    @include breakpoint(extra-small) {
                    background-position: 0 -116px;
                    }
                }
            }

            &:nth-child(2) {
                a > span {
                    background-color: #3a5591;
                    background-position: 0 -114px;
                    @include breakpoint(extra-small) {
                        background-position: 0 -178px;
                    }
                }
            }

            &:nth-child(3) {
                a > span {
                    background-color: #cd513e;
                    background-position: 0 -38px;
                    @include breakpoint(extra-small) {
                        background-position: 0 -58px;
                    }
                }
            }
            &:nth-child(4) {
                border: none;
                background-image: none;
                @include box-shadow(none);
                p {
                    margin: 0;
                    font-size: 13px;
                    background-image: url("../../images/backgrounds/or-u-can.png");
                    background-repeat: no-repeat;
                    background-position: 0 45%;
                    background-size: cover;
                    color: #55a4da;
                    @include breakpoint(extra-small) {
                        font-size: 20px;
                    }
                }
            }
            &:nth-child(5) {
                a > span {
                    background-color: #3e9ee3;
                    background-position: 0 0;
                }
            }
        }
    }
    .monitor {
        height: 288px;
        margin-top: 68px;
        @include breakpoint(medium) {
            height: 262px;
        }
        @include breakpoint(small) {
            height: 219px;
        }
        @include breakpoint(extra-small) {
            height: 186px;
            margin-top: 32px;
        }
        @include breakpoint(s-extra-small){
            width: 100%;
            margin: 32px auto 0;
            height: 113px;
        }
        img{
            width: 100%;
            height: 100%;
            @include user-select(none);
        }
    }

}